/* 폰트 */
@import url(../common/fonts/fonts.css);
/* 내비 */
nav ul li:nth-child(1) a.stroke, nav ul li:nth-child(2) a.stroke ,nav ul li:nth-child(3) a.stroke{
  color: #ffd234;
}

/* 전체요소영역 컨테이너 */
/* 헤더 */
.all_container header {
  margin: 0 5vw;
  margin-top: 100px;
}

.all_container header h1 {
  font-family: "keepsmile";
  text-align: center;
  font-size: 13.0208vw;
}

/* 프로젝트 */
.all_container #project h2 {
  font-size: 60px;
  font-family: "keepsmile";
  margin: 0 5vw;
  padding-top: 150px;
  margin-bottom: 150px;
}

/* 스와이퍼 */
.swiper {
  width: 95%;
  height: 90vh;
}

.swiper-slide {
  text-align: center;
  z-index: 999;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sw_wrapper {
  color: #000;
  text-decoration: none;
  font-family: "maplestory";
  font-size: 35px;
  font-weight: bold;
  text-align: left;
  border: #000 1px solid;
  width: 100%;
  height: 99%;
  transition: .3s;
  overflow: hidden;
}

.sw_wrapper:hover {
  background-color: #fff;
}
.sw_wrapper p {
  margin: 20px;
  z-index: 99;
}

.sw_wrapper img {
  object-fit: cover;
  overflow: hidden;
}

/* 스킬 */
.all_container #skills {
  padding-top: 150px;
}
.all_container #skills>p {
  font-size: 60px;
  font-family: "keepsmile";
  text-align: right;
  margin: 0 5vw;
  margin-bottom: 150px;
}

/* 스킬 전체영역 css */
.all_container #skills .skillboxes {
  height: 230px;
  border-top: #000 1px solid;
  display: flex;
  align-items: center;
}

.all_container #skills .skillboxes p {
  margin-left: 10vw;
  font-size: 60px;
  font-weight: bold;
  font-family: "maplestory";
}

.all_container #skills .skillboxes ul {
  width: 100%;
  margin-right: 10vw;
  font-family: "pretendard";
  text-align: right;
}

.all_container #skills .skillboxes ul li {
  font-size: 1.2em;
  margin: 5px 0;
}

/* 스킬 개별영역  */
.all_container #skills .skillbox5 {
  border-bottom: 1px solid #000;
}

/* 어바웃 */
.all_container #about {
  padding-top: 150px;
}
/* 어바웃 카테고리 전체 */
.all_container #about .kategorie {
  display: flex;
  justify-content: space-evenly;
  margin: 0 5vw;
  font-family: "maplestory";
  font-size: 50px;
  margin-bottom: 150px;
}

.all_container #about .kategorie li {
  background-color: #fff;
  padding: 15px 30px;
  border-radius: 50px;
}

/* 어바웃 카테고리 개별 */
.all_container #about .kategorie li:nth-child(1) {
  border: #ff0000 3px solid;
}

.all_container #about .kategorie li:nth-child(2) {
  border: #00FF38 3px solid;
}

.all_container #about .kategorie li:nth-child(3) {
  border: #7EE0FF 3px solid;
}

.all_container #about .kategorie li:nth-child(4) {
  border: #F4AFFF 3px solid;
}

.all_container #about .kategorie li:nth-child(5) {
  border: #00008b 3px solid;
}

/* introduce */
.all_container #about h2 {
  font-family: "keepsmile";
  text-align: center;
  font-size: 15.6250vw;
  margin-bottom: 90px;
}

/* exp */
.all_container #about .exp {
  margin: 0 5vw;
  font-size: 40px;
  font-family: "maplestory";
}

.all_container #about .thx {
  margin: 0 5vw;
  font-size: 40px;
  font-family: "maplestory";
  text-align: right;
  margin-bottom: 35px;
}

.all_container #about .comment {
  margin: 0 5vw;
  font-size: 40px;
  font-family: "maplestory";
  text-align: right;
  margin-bottom: 150px;
  animation:  cursor 0.2s ease infinite;
}

/* 푸터 */
.all_container footer {
  display: flex;
  align-items: flex-end;
  font-family: "keepsmile";
  font-size: 60px;
  width: 100%;
  margin-bottom: 5vh;
}

.all_container footer .footer_box1 {
  margin: 0 5vw;
  width: 50%;
}

.all_container footer .footer_box1 p span {
  font-family: "maplestory";
}

.all_container footer .footer_box2 {
  width: 50%;
  text-align: right;
  margin: 0 5vw;
}

.all_container footer .footer_box2 a {
  transition: .3s;
  color: #000;
  text-decoration: none;
}

.all_container footer .footer_box2 a:hover {
  color: #ffd234;
  -webkit-text-stroke: 1px #000;
}