/* 폰트 */
@import url(../fonts/fonts.css);

/* 전체영역 */
html {
  scroll-behavior: smooth;
}

body {
  background-color: #ffd234;
}

/* 1번라인 */
.line_container .line1 {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
}

.line_container .line1 .box1 {
  min-width: 100px;
  width: 100px;
  height: 20px;
  background-color: #0D00C6;
}

.line_container .line1 .box2 {
  min-width: 100px;
  width: 100px;
  height: 20px;
  background-color: #F1B7AC;
}

/* 2번라인 */
.line_container .line2 {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
}

.line_container .line2 .box1 {
  min-width: 20px;
  width: 20px;
  height: 100px;
  background-color: #0D00C6;
}

.line_container .line2 .box2 {
  min-width: 20px;
  width: 20px;
  height: 100px;
  background-color: #D8A724;
}

/* 3번라인 */
.line_container .line3 {
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 99999;
}

.line_container .line3 .box1 {
  min-width: 100px;
  width: 100px;
  height: 20px;
  background-color: #F1B7AC;
}

.line_container .line3 .box2 {
  min-width: 100px;
  width: 100px;
  height: 20px;
  background-color: #6F954A;
}

/* 4번라인 */
.line_container .line4 {
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 99999;
}

.line_container .line4 .box1 {
  min-width: 20px;
  width: 20px;
  height: 100px;
  background-color: #fff;
}

.line_container .line4 .box2 {
  min-width: 20px;
  width: 20px;
  height: 100px;
  background-color: #000;
}

/* 내비 */
nav {
  background-color: #ffd234;
  font-size: 60px;
  top: 10px;
  position: fixed;
  width: 100%;
  border-bottom: 1px solid #000;
  z-index: 9999;
  transition-property:border-bottom;
  transition-duration: .75s;
}
nav.active {
  border-bottom: 0px solid rgba(0, 0, 0, 0);
}
nav ul {
  display: flex;
  justify-content: space-around;
}

nav ul li a {
  font-family: "keepsmile";
  color: #000;
  text-decoration: none;
}

